canvas {
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair;
}

.drawing-canvas {
  z-index: 1;
}

.drawing-canvas.--select {
  cursor: default;
}

.canvas-wrapper {
  position: relative;
}
